html, body {
    background-color: #FAFAFA
}

table {
    border: 2px solid #000000;
}

td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
}

.btn {
    width: 8rem;
}

.input {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #FAFAFA;
    outline: none;
}

.border-top-2 {
    border-top:    2px solid #000000;
}

.border-left-2 {
    border-left:    2px solid #000000;
}

.border-right-2 {
    border-right:    2px solid #000000;
}

.border-bottom-2 {
    border-bottom:    2px solid #000000;
}

#error-page {
    height: 100vh;
}