{{define "error"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sudoku</title>

    <link rel="icon" href="static/favicon.png">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <div id="error-page" class="d-flex justify-content-center align-items-center">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">{{.Code}}</h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead">{{.Text}}</h2>
        </div>
    </div>
</body>
</html>
{{end}}