{{define "home"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sudoku</title>

    <link rel="icon" href="static/favicon.png">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <div class="container text-center">
        <h2>Sudoku solver</h2>
        <div class="d-flex justify-content-center">
            <form id="form" class="text-center" autocomplete="off">
                <div class="table-responsive">
                    <table id="sudoku" class="table">
                    </table>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button id="solve" class="btn btn-success">Solve</button>
                <button id="clear" class="btn btn-danger">Clear</button>
                <a id="download" class="btn btn-warning disabled">Download</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12 text-center">
                <p><span class="font-weight-bold">Error:</span> <span id="error"></span></p>
                <p id="hostname"><span class="font-weight-bold">Hostname: </span>{{.Hostname}}</p>
            </div>
        </div>
    </div>

    <script src="static/jquery.min.js"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
</body>
</html>
{{end}}